{
  "globals": {
    "__PATH_PREFIX__": true
  },
  "rules": {
    "prettier/prettier": [
      "error",
      {
        "trailingComma": "es5",
        "singleQuote": true,
        "printWidth": 100,
        "semi": false
      }
    ],
    "quotes": ["error", "backtick"],
    "jsx-a11y/accessible-emoji": 0
  },
  "extends": ["react-app", "plugin:prettier/recommended"]
}