---
import BaseLayout from "../../layouts/BaseLayout.astro";
import ArticlePreview from "../../components/ArticlePreview.astro";
import global from "../../data/global.json";
import {
  getPublishedBlogPosts,
  sortBlogPostsByDateDesc,
} from "../../utils/blog";

const posts = sortBlogPostsByDateDesc(await getPublishedBlogPosts());
---

<BaseLayout
  title="All articles"
  description={`View all the blog posts from ${global.siteName}`}
>
  <div class="container py-8">
    <h1
      class="uppercase tracking-wide text-blog-500 font-bold mb-6 text-lg"
    >
      All blog posts
    </h1>
    <section class="flex-1 flex flex-col gap-8">
      {
        posts.map((post) => (
          <ArticlePreview
            title={post.data.title}
            slug={post.data.slug}
            description={post.data.description}
          />
        ))
      }
    </section>
  </div>
</BaseLayout>
