---
import SocialButtons from "../SocialButtons.astro";
import global from "../../data/global.json";

interface Props {
  slice: {
    name: string;
    intro: string;
  };
}

const { slice } = Astro.props;
const socialNetworks = global.footerSocialNetworks;
---

<header class="py-6 bg-gray-100 dark:bg-gray-800">
  <div class="container">
    <!-- Name link -->
    <a href="/" class="inline-flex flex-row items-center">
      <div
        class="w-14 md:w-16 h-14 md:h-16 bg-primary-200 dark:bg-primary-900 rounded-full"
      >
      </div>
      <h1
        class="font-bold -ml-8 md:-ml-10 text-2xl md:text-3xl text-gray-800 dark:text-gray-200 hover:text-black dark:hover:text-white"
      >
        {slice.name}
      </h1>
    </a>
    <!-- Bio -->
    <section
      class="text-xl md:text-2xl text-gray-700 dark:text-gray-300 mt-6 flex flex-col gap-3 [&_a]:underline [&_a]:decoration-primary-300 dark:[&_a]:decoration-primary-700 [&_a]:decoration-[3px]"
      set:html={slice.intro}
    />
    <!-- Social buttons -->
    <div class="mt-6">
      <SocialButtons socialNetworks={socialNetworks} />
    </div>
  </div>
</header>
