@tailwind base;
@tailwind components;
@tailwind utilities;

.article-content {
  p {
    @apply mt-6;
  }

  strong {
    @apply font-semibold;
  }
  
  a {
    @apply text-blog-700 underline;
  }
  a:hover {
    @apply text-blog-500;
  }
  
  /* All common heading tags */
  h2, h3, h4, h4, h5, h6 {
    @apply font-semibold leading-normal;
  }
  
  h2 {
    @apply mt-8 -mb-2 text-2xl;
  }

  h3 {
    @apply mt-6;
  }
  
  ul {
    @apply list-disc list-inside mt-2;
  }

  li:not(:first-child) {
    @apply mt-2;
  }
  
  blockquote {
    @apply mt-6 text-2xl border-blog-500 text-blog-700 border-l-4 pl-4 leading-normal italic;
  }
  
  /* Inline code */
  :not(pre) > code {
    @apply bg-gray-200 text-gray-900 rounded px-1;
    /* border-width: 1px; */
  }
  
  /* Code blocks */
  pre {
    @apply block text-base rounded py-4 rounded; 
  }

  /* Code blocks */
  .gatsby-highlight {
    @apply mt-4;
    margin-bottom: 1.75rem;
    margin-left: -1.3125rem;
    margin-right: -1.3125rem;
    border-radius: 10px;
    -webkit-overflow-scrolling: touch;
    background: #011627;
    overflow: auto;
  }

  .token.attr-name {
    @apply text-green-300 italic;
  }

  .token.comment {
    @apply text-gray-500;
  }

  .token.string,
  .token.url {
    @apply text-green-300;
  }

  .token.variable {
    color: rgb(214, 222, 235);
  }

  .token.number {
    color: rgb(247, 140, 108);
  }

  .token.builtin,
  .token.char,
  .token.constant,
  .token.function {
    @apply text-blue-300;
  }

  .token.punctuation {
    @apply text-purple-300;
  }

  .token.selector,
  .token.doctype {
    @apply text-purple-300;
    font-style: 'italic';
  }

  .token.class-name {
    @apply text-orange-300;
  }

  .token.tag,
  .token.operator,
  .token.keyword {
    @apply text-red-300;
  }

  .token.boolean {
    color: rgb(255, 88, 116);
  }

  .token.property {
    color: rgb(128, 203, 196);
  }

  .token.namespace {
    color: rgb(178, 204, 214);
  }

  pre[data-line] {
    padding: 1em 0 1em 3em;
    position: relative;
  }

  .gatsby-highlight-code-line {
    background-color: hsla(207, 95%, 12%, 1);
    display: block;
    @apply -mx-4 px-4 border-red-300 border-l-4;
  }

  @media (max-width: 672px) {
    .gatsby-highlight {
      border-radius: 0;
    }
  }

  .gatsby-highlight pre[class*='language-'] {
    float: left;
    min-width: 100%;
  }
}

